@import '../utils';

.button {
  border: none;
  text-decoration: none;
  background: $secondary-color;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 24px;
  font-size: 20px;
  border-radius: 32px;
  transition: background 0.3s ease;
  width: fit-content;
  margin: 20px 0;
  outline: none;

  &:hover {
    cursor: pointer;
    background: $primary-color;
  }
}
